body{

    background-color: black;
}


.section-01 {
    height:100vh;
    background-color: azure;
    margin:20px;

}

.heading-with-margin{

    text-align: center;
    padding-top: 100px;
    font-size: 2rem;
}

.grid-section{
display: grid;
grid-template-columns: ;

}